/* ------------------------------
---------For Mobile--------------*/
@media screen and (max-width:576px) {
    .carousel-item img {
        height: 80vh;
        object-fit: cover;
    }

    .small-device {
        display: flex;
        flex-direction: column;
    }

    .center-align {
        text-align: center;
    }

    .position-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* ------------------------------
---------For Tablet--------------*/
@media screen and (min-width:768px) and (max-width:992px) {
    .for-tablet {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* ------------------------------
---------For Web--------------*/
@media screen and (min-width:992px) {
    .for-web {
        width: 872px;
    }
}

/* use custom CSS */

/* main part */
.carousel-item img {
    filter: brightness(60%);
}

.working-background {
    background-color: #F4FAFD;
}

.bg-set {
    background-color: #289BDE;
}